:root {
  --color-primary: #587792;
  --color-secondary: #2c3d63;
  --color-primary-ligt: #e2eaf3;
  --color-light: #ffffff;
  --color-dark: #282828;
  --color-dark-secondary: #323232;
  --color-yello: #3c76b9;
}
