:root{
    --color-primary: #F5852E;
    --color-secondary: #ff6600;
    --color-light: #ffffff;
    --color-dark: rgb(40 ,40 ,40);
    --color-dark-secondary: rgb(50 ,50 ,50);
    --color-yello: #FDB724;
}
